{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="calculator">
    <input type="text" name="calculator_input" readonly id="calculator_input">
    <button type="button" onclick="input('%')" class="item">%</button>
    <button type="button" onclick="ClearAll()" class="item">C</button>
    <button type="button" onclick="ClearAll()" class="item">CE</button>
    <button type="button" onclick="input('+')" class="item">+</button>
    <button type="button" onclick="input('')" class="item">&frac14;</button>
    <button type="button" onclick="input('')" class="item">a^x</button>
    <button type="button" onclick="GetSqrt()" class="item">&radic;</button>
    <button type="button" onclick="input('/')" class="item">&#247;</button>
    <button type="button" onclick="input('7')" class="item">7</button>
    <button type="button" onclick="input('8')" class="item">8</button>
    <button type="button" onclick="input('9')" class="item">9</button>
    <button type="button" onclick="input('*')" class="item">&#215;</button>
    <button type="button" onclick="input('4')" class="item">4</button>
    <button type="button" onclick="input('5')" class="item">5</button>
    <button type="button" onclick="input('6')" class="item">6</button>
    <button type="button" onclick="input('-')" class="item">&#8722;</button>
    <button type="button" onclick="input('1')" class="item">1</button>
    <button type="button" onclick="input('2')" class="item">2</button>
    <button type="button" onclick="input('3')" class="item">3</button>
    <button type="button" onclick="input('0')" class="item">0</button>
    <button type="button" onclick="result()" class="item_calc">=</button>
</div>
<link rel="shortcut icon" href="{%static 'calculator_app\icon\Calculator.ico'%}" type="image/x-icon">
<link rel="stylesheet" href="{%static 'calculator_app/css/calculator.css'%}">
<script type="text/javascript" src="{%static 'calculator_app/js/calculator.js'%}"></script>
{%endblock%}
